# Binaries
*.elf
*.o
*.iso

# Kernel mirror in VFS
kernel/fs/kfs.*

# Build folders
build/
iso/

# Disk images
*.img

# Packet Capture
*.pcap

# Misc
test/

# Non-prodution ready components
kernel/drivers/usb/
kernel/drivers/net/rtl8169.*
scripts/font.*
elib/
*.later

kernel/io/stb_truetype.*