<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishDir>../publish/win-x86/</PublishDir>
    <CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies>
    <IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>
  </PropertyGroup>

  <Target Name="RemovedUnusedRuntimes" AfterTargets="Publish">
    <ItemGroup>
      <RuntimesToDelete Include="$(PublishDir)runtimes\win-x64" />
      <RuntimesToDelete Include="$(PublishDir)runtimes\win-arm64" />
    </ItemGroup>
    <RemoveDir Directories="@(RuntimesToDelete)" />
  </Target>
</Project>