<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishDir>../publish/win-x86/</PublishDir>
    <CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies>
    <IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>
  </PropertyGroup>
</Project>